:root {
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-background:#F3F3F3;
    --color-background-nav:#500f83;    
    --color-text-top: #7e07c5;
    --color-container-button: #cb9fff;
    --color-text-container: #001930;
    --color-menu-container: #4376a3;
    --color-shadow-button: #243849;
    --color-login-container: #d3d3d3;
    --color-txt-title: #007BFF;
    --color-container-success: #3097d0;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Montserrat, sans-serif;
  }

  html,
  body{
    background-color: var(--color-background);
  }

  a{
    text-decoration: none;
    transition: 0.2s opacity;
  }

  a:hover{
    opacity: 0.8;
}

.container{
    width: 90%;    
}